$todolist-border: 3px solid grey;
$margin: 2rem auto;
$padding: 1rem auto;

.todolist {
    border: $todolist-border;
    margin: $margin;
    padding: $padding;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    h2 {
        margin-left: 1rem;
        color: #eee
    }
    hr {
        color: green;
    }

    // .completedTasks {
    //     display: none;
    // }

    /* NOTE: & is an alias for .todolist because we're nested in .todolist */
    // &.isShowingCompleted {
    .completedTasks {
        display: flex;
        flex-direction: column;
    }
    // }
}

