$black-background: #171717;
$white-text: white;

html {
    height: 100%;
    background: radial-gradient(ellipse at bottom, #7b38d8 10%, #090A0F 90%);
    overflow: scroll;
    // display: flex;
    // flex-direction: column-reverse;
    h2 {
        font-size: 30px;
    }
}



.container {
    background: $black-background;
    height: auto;
    box-shadow: 5px 10px 20px #171717;
    letter-spacing: 1px;

    h1 {
        color: $white-text;
        text-align: center;
    }
}



